<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css-styles/styles.css') }}" />
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar">
                <div class="nav nav-app">
                    <a class="nav-link" id="app-name" href="{{ url_for('home.home_page') }}">Home</a>
                    <a class="nav-link" href="{{ url_for('flashcards.flashcards_collection') }}">Train</a>
                </div>
                <div class="nav nav-user">
                    {% if not logged_in %}
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Log in</a>
                        <a class="nav-link" href="{{ url_for('auth.sign_up') }}">Sign up</a>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('user.user_page') }}">{{ user_name }}</a>
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a> 
                    {% endif %}
                </div>
            </nav>
        </div>
        {% block profile %}{% endblock %}
        {% block signin %}{% endblock %}
        {% block signup %}{% endblock %}
        {% block hero %}
        <div class="hero">
            <h1>Flashcards App</h1>
            <h>App where you can train on your own flashcards.</h>
        </div>
        {% endblock %}
    </div>
</body>
</html>