{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block hero %}{% endblock %}
{% block signup %}
<div class="login-panel">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">{{messages[0]}}</div>
        {% endif %}
    {% endwith %}
    <form method="POST" action="/auth/signup" class="login-form">
        <input name="username" class="username" placeholder="Username" required>
        <input name="password" type="password" class="password" placeholder="Password" required>
        <input name="password-confirmation" type="password" class="password" placeholder="Password Confirmation" required>
        <input type="submit" class="submit" value="Sign up">
    </form>
</div>
{% endblock %}