html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #068D9D;
}

.header {
    padding: 5vh 10vw;
    background-color: #2B4162;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    transition: 200ms linear color;
    font-size: 1.2em;
}

.nav-link:hover {
    color: #068D9D;
}

.nav {
    display: flex;
    gap: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-panel {
    margin:20vh 35vw;
    padding: 10vh 5vw;
    border-radius: 0.7em;
    background-color: #F4F3EE;
}

.login-form .username,
.login-form .password {
    border-radius: 5px;
    border: 1px solid #2B4162;
    width: 20vw;
    background-color: rgb(240, 240, 240);
    padding: 15px 10px;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.login-form .username:focus,
.login-form .password:focus {
    outline: none;
    border:2px solid #068D9D;
}

.login-form .submit {
    box-sizing: content-box;
    border-radius: 5px;
    border: 2px solid #068D9D;
    color: #068D9D;
    padding: 10px 10px;
    transition: 200ms linear all;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    width: 20vw;
}

.login-form input.submit:hover {
    background-color: #068D9D;
    color: white;
}

