html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #068D9D;
}

.header {
    padding: 5vh 10vw;
    background-color: #2B4162;
    box-shadow: 2px 2px 40px 5px rgba(0, 0, 0, 0.226);
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    transition: 200ms linear color;
    font-size: 1.2em;
}

.nav-link:hover {
    color: #068D9D;
}

.nav {
    display: flex;
    gap: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin:20vh 35vw;
    padding: 10vh 5vw;
    border-radius: 0.7em;
    background-color: #F4F3EE;
    box-shadow: 1px 1px 40px 4px rgba(0, 0, 0, 0.226);
}

.login-form .username,
.login-form .password {
    border-radius: 5px;
    border: none;
    outline: 1px solid #2B4162;
    width: 20vw;
    background-color: rgb(240, 240, 240);
    padding: 15px 10px;
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.login-form .username:focus,
.login-form .password:focus {
    outline :2px solid #068D9D;
}

.login-form .submit,
.action-btns .submit {
    box-sizing: content-box;
    border-radius: 5px;
    border: 2px solid #068D9D;
    color: #068D9D;
    padding: 10px 10px;
    transition: 200ms linear all;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    width: 20vw;
    cursor: pointer;
}

.login-form input.submit:hover,
.action-btns :hover {
    background-color: #068D9D;
    color: white;
}

#create-btn {
    justify-content: center;
}

.flash-message {
    border-radius: 5px;
    background-color: rgb(253, 100, 100);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    width: 17vw;
    padding: 30px 2vw;
    text-justify: justify;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F4F3EE;
    font-family: Arial, sans-serif;
}

.hero h1 {
    margin: 0px;
    padding-top: 30vh;
    padding-bottom: 1vh;
    font-size: 35px;
}

.hero h {
    font-size: 20px;
}

.main-profile {
    margin: 5vh 10vw;
    background-color: #F4F3EE;
    border-radius: 5px;
    box-shadow: 1px 1px 40px 4px rgba(0, 0, 0, 0.226);
}

.main-collections {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 3vh 0;
}

.collection, .flashcard {
    background-color: #2B4162;
    border-radius: 15px;
    padding: 2vh 1vw;
    margin: 0 2vw;
    transition: 30ms linear all;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.226);
    overflow-wrap: break-word;
}

.action-btns {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0 3vw;
}

.flashcard {
    gap: 2vw;
    display: flex;
    align-items: center;
}

.collection a {
    text-decoration: none;
    color: #F4F3EE;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

.collection:hover {
    outline: 4px solid #068D9D;
}

#front {
    width: 25vw;
}

#front, #description {
    color: #F4F3EE;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

.card {
    border-radius: 18px;
    padding: 1vh 1vw;
    outline: 3px solid #068D9D;
    border: none;
    background-color: transparent;
    color: white;
    font-size: x-large;
}

.flashcard-row {
    padding-left: 13vw;
    padding-right: 3.4vw;
    justify-content: space-between;
}

#collection-name {
    color: black;
    width: 20vw;
}

#collection-name-div {
    display: flex;
    justify-content: center;
}

#create-btns {
    justify-content: space-evenly;
}

.all-flashcards {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

#break {
    font-size: 3.2vh;
    color: #F4F3EE;
}

.flashcard-train {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-top: 5vh;
}

.train-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B4162;
    border-radius: 20px;
    color: white;
    height: 50vh;
    width: 26vw;
    font-size: 50px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.226);
    font-family: Arial, sans-serif;
}

.step-btn {
    font-size: 100px;
    background-color: #2B4162;
    border: none;
    border-radius: 100px;
    padding-bottom: 13px;
    padding-top: 0px;
    transition: 350ms ease color;
}

#go-next {
    padding-left: 50px;
    padding-right: 44px ;
}

#go-previous {
    padding-right: 50px;
    padding-left: 44px ;
}

.step-btn:hover {
    color: #F4F3EE;
}

.step-btn:active {
    transform: scale(1.1);
}

.collection-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: #F4F3EE;
}

#remove-btn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: gray;
}