{% extends 'base.html' %}
{% block title %}Collections{% endblock %}
{% block profile %}{% endblock %}
{% block signin %}{% endblock %}
{% block signup %}{% endblock %}
{% block hero %}
<div class="main-collections main-profile">
    {% if collections.count() %}
        {% for collection in collections %}
            <div class="collection">
                <a href="collection/{{collection.collection_id}}">{{collection.collection_name}}</a>
            </div>
        {% endfor %}
    {% else %}
        <span>You have no collections.</span>
    {% endif %}
</div>
{% endblock %}