{% extends 'base.html' %}
{% block title %}Training{% endblock %}
{% block profile %}{% endblock %}
{% block signin %}{% endblock %}
{% block signup %}{% endblock %}
{% block hero %}
<div>
    <div class="collection-info">
        <span>{{collection_name}}</span>
        <span id="flashcard-number"></span>
    </div>
    <div class="flashcard-train">
        <button id="go-previous" class="step-btn">&#8249;</button>
        <div class="train-card">
            <span id="card-value" class="front"></span>
        </div>
        <button id="go-next" class="step-btn">&#8250;</button>
    </div>
    <div class="collection-info">
        <button id="shuffle" class="shuffle-btn">Shuffle</button>
    </div>
</div>
<script>
    let flashcards = JSON.parse('{{ flashcards | safe }}')
</script>
<script src="{{ url_for('static', filename='js-scripts/flashcards_moving.js') }}"></script>
{% endblock %}